<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
style="height: 100%">
<head>
    <title>User registration form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body style="height: 100%">
<div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100" style="text-align: center">
        <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Register new user</h1>
            <form th:action="@{/registration}" method="post">
                <div class="form-group">
                    <input class="form-control form-control-lg" placeholder="Type your name.." type="text" name="username"/>
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" placeholder="Type your password.." type="password" name="password"/>
                </div>
                <div class="form-group">
                    <button class="btn btn-info btn-lg btn-block" type="submit">Register</button>

                </div>
            </form>
            <p class="mt-5 mb-3 text-muted">© 2019-2020</p>
            <div style="min-height: 40px">
                <div id="message-error" style="color: #C82333" th:text="${user_from_db}"></div>
            </div>
        </div>
    </div>
</div>
</body>
    <script>
        setTimeout(function(){document.getElementById('message-error').style.display = 'none';}, 5000);
    </script>
</html>

